<h3 class="text-center py-3">{{ formConfig.formTitle || 'My Form' }}</h3>
<div class="row">
    <div class="col-lg-8">
        <form #myForm="ngForm" [formGroup]="dynamicForm" class="row g-3 ">
            <ng-container *ngFor="let control of formConfig.formControls">
                <div *ngIf="
        ['text', 'email', 'password', 'number', 'date'].includes(control.type)
        " [class]="control?.class">
                    <label for="{{ control.name }}" class="form-label">{{
                        control.label
                        }}</label>
                    <input class="form-control" formControlName="{{ control?.name }}" [type]="control?.type"
                        [class.input-invalid]="
            dynamicForm.get(control.name)?.invalid &&
            (dynamicForm.get(control.name)?.touched)
        " />
                    <small *ngIf="
            dynamicForm.get(control.name)?.invalid &&
            (dynamicForm.get(control.name)?.touched)
        " class="text-danger">
                        {{ getErrorMessage(control) }}
                    </small>
                </div>
                <div *ngIf="control.type === 'checkbox'" [class]="control?.class">
                    <input class="form-check-input me-2" type="checkbox" formControlName="{{ control?.name }}" />
                    <label for="{{ control.name }}" class="form-label">{{
                        control.label
                        }}</label>
                    <br>
                    <small *ngIf="
            dynamicForm.get(control.name)?.invalid &&
            (dynamicForm.get(control.name)?.touched)
        " class="text-danger">
                        {{ getErrorMessage(control) }}
                    </small>
                </div>
                <div *ngIf="control.type === 'select'" [class]="control?.class">
                    <label for="{{ control.name }}" class="form-label">{{
                        control.label
                        }}</label>
                    <select class="form-select" formControlName="{{ control?.name }}" [class.input-invalid]="
            dynamicForm.get(control.name)?.invalid &&
            (dynamicForm.get(control.name)?.touched)
        ">
                        <option *ngFor="let option of control.options" [value]="option.value">
                            {{ option.label | capitalizeWords}}
                        </option>
                    </select>
                    <small *ngIf="
            dynamicForm.get(control.name)?.invalid &&
            (dynamicForm.get(control.name)?.touched)
        " class="text-danger">
                        {{ getErrorMessage(control) }}
                    </small>
                </div>
                <div *ngIf="control.type === 'radio'" [class]="control?.class">
                    <label for="{{ control.name }}" class="form-label">{{
                        control.label
                        }}</label>
                    <div *ngFor="let option of control.options" [class]="control?.class">
                        <input class="form-check-input me-2" type="radio" formControlName="{{ control?.name }}"
                            [value]="option.value" />
                        <label for="{{ control.name }}" class="form-label">{{
                            option.label
                            }}</label>
                    </div>
                    <small *ngIf="
            dynamicForm.get(control.name)?.invalid &&
            (dynamicForm.get(control.name)?.touched )
        " class="text-danger">
                        {{ getErrorMessage(control) }}
                    </small>
                </div>
                <div *ngIf="control.type === 'textarea'" [class]="control?.class">
                    <label for="{{ control.name }}" class="form-label">{{
                        control.label
                        }}</label>
                    <textarea class="form-control" formControlName="{{ control?.name }}"></textarea>
                    <small *ngIf="
            dynamicForm.get(control.name)?.invalid &&
            (dynamicForm.get(control.name)?.touched )
        " class="text-danger">
                        {{ getErrorMessage(control) }}
                    </small>
                </div>
                <div *ngIf="control.type === 'nested'" [class]="control?.class">
                    <hr>
                    <fieldset [formGroupName]="control.name">
                        <legend>{{ control.label }}</legend>
                        <div class="row g-3">
                            <ng-container *ngFor="let nestedControl of control.nestedControls">
                                <div [class]="nestedControl?.class">
                                    <label [for]="nestedControl.name" class="form-label">
                                        {{ nestedControl.label }}
                                    </label>
                                    <input class="form-control" [formControlName]="nestedControl.name"
                                        [type]="nestedControl.type" [class.input-invalid]="
                                        dynamicForm.get(control.name)?.get(nestedControl.name)?.invalid &&
                                        (dynamicForm.get(control.name)?.get(nestedControl.name)?.touched )
                                " />
                                    <small *ngIf="
                                dynamicForm.get(control.name)?.get(nestedControl.name)?.invalid &&
                                (dynamicForm.get(control.name)?.get(nestedControl.name)?.touched )
                            " class="text-danger">
                                        {{ getErrorMessage(control,nestedControl) }}
                                    </small>
                                </div>
                            </ng-container>
                        </div>
                    </fieldset>
                </div>
                <div *ngIf="control.type === 'array'" [class]="control?.class">
                    <hr>
                    <fieldset [formArrayName]="control.name">
                        <legend>{{ control.label }}</legend>
                        <div class="row g-3">
                            <ng-container
                                *ngFor="let nestedControl of getControlArray(control)?.controls; let i = index">
                                <div class="col-lg-6">
                                    <label [for]="control.name" class="form-label">
                                        {{ control.fieldLabel + ' ' + (i+1) }}
                                    </label>
                                    <input class="form-control" [formControlName]="i" [type]="control.fieldType"
                                        [class.input-invalid]="
                                        dynamicForm.get(control.name)?.get(i.toString())?.invalid &&
                                        (dynamicForm.get(control.name)?.get(i.toString())?.touched  || dynamicForm.get(control.name)?.touched)
                                " />
                                    <small *ngIf="
                                dynamicForm.get(control.name)?.get(i.toString())?.invalid &&
                                (dynamicForm.get(control.name)?.get(i.toString())?.touched|| dynamicForm.get(control.name)?.touched )
                            " class="text-danger">
                                        {{ getErrorMessage(control) }}
                                    </small>
                                </div>
                            </ng-container>
                            <div class="col-12 d-flex justify-content-between">
                                <button class="btn btn-danger" (click)="removeNestedControl(control)">Remove</button>
                                <button class="btn btn-primary" (click)="addNestedControl(control)">Add</button>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                </div>

            </ng-container>

            <div class="col-12 d-flex justify-content-between">
                <button (click)="onSubmit()" type="submit" class="btn btn-primary">
                    {{ formConfig.saveBtnTitle || 'Save' }}
                </button>
                <button (click)="onReset()" type="reset" class="btn btn-secondary">
                    {{ formConfig.resetBtnTitle || 'Reset' }}
                </button>
            </div>

        </form>
    </div>
    <div class="col-lg-4">
        <div class="form-data-container mt-5 border rounded p-3">
            <div class="form-data-item">
                <h5 class="text-center text-primary py-3">Form Data</h5>
                <div class="form-data-item-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Label</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let control of formConfig.formControls; let i = index">
                                <tr>
                                    <th scope="row">{{ i+1 }}</th>
                                    <th scope="row">{{ control.name }}</th>
                                    <ng-container *ngIf="control.type === 'nested'">
                                        <td *ngFor="let nestedControl of control.nestedControls"
                                            [class]="getStatus(control,nestedControl)">{{
                                            getValues(control,nestedControl)
                                            }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="control.type !== 'nested' && control.type !== 'textarea'">
                                        <td *ngIf="!!getValues(control)" [class]="getStatus(control)">{{
                                            getValues(control) }}</td>
                                        <td *ngIf="!getValues(control)" [class]="getStatus(control)"></td>
                                    </ng-container>
                                    <ng-container *ngIf="control.type === 'textarea'">
                                        <td *ngIf="!!getValues(control)" [class]="getStatus(control)">
                                            <span appSeeMoreLess
                                                [fullText]="getValues(control)"></span>
                                        </td>
                                        <td *ngIf="!getValues(control)" [class]="getStatus(control)"></td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>